.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  text-align: center;
}

.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.options li {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  cursor: grab;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  transition: transform 0.3s ease;
}

.buckets {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bucket {
  border: 2px dashed #ccc;
  padding: 10px;
  margin: 0 5px;
  flex: 1;
  min-width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.check-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
